@font-face {
    font-family: Mahjong;
    src: url("fonts/FreeSerif.woff");
}

html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: white;
    background-color: #496977;
    text-shadow: 0.2ex 0.2ex 0.1ex rgba(0, 0, 0, 0.2);
}

.mj {
    font-family: Mahjong;
}

a, a:link { color: #aef0ff; }
a:visited { color: #e6fff2; }
a:hover { color: #d0f7eb; }
a:active { color: #f7d0d2; }

a.btn-default { color: black; }

h1 img {
    width: auto;
    height: 1.1em;
    float: left;
    padding-right: 0.5ex;
}

#managerversion {
    font-size: small;
    vertical-align: top;
    float: right;
}

input, textarea {
    color: black;
}
.btn {
    color: white;
    background-color: #555;
    border: 2px solid black;
}

.error {
    color: #a92a2a;
    background-color: #ffeaea;
    border-radius: 0.5ex;
    border: 2px solid #a92a2a;
    padding: 1ex;
    text-shadow: none;
}

dl.dl-horizontal { margin: 0; }
.dl-horizontal dt { width: 100px; }
.dl-horizontal dd { margin-left: 120px; }

*[title] {
    cursor: help;
    border-bottom: 1px dashed #ddd;
}
